body {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2,
h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
}
h4,
h5 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

.primary-nav {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);

  &__logo {
    height: 42px;
  }

  &__title {
    margin: 0 10px;
    font-weight: normal;
  }

  &__link {
    text-transform: uppercase;
    cursor: pointer;
    margin: 0 5px;
  }
}

.footer {
  height: 150px;
}
