.player-info {
  display: flex;
  align-items: center;

  ul {
    list-style-type: none;

    li {
      margin-bottom: 10px;
    }
  }
  img {
    width: 250px;
    border-radius: 100%;
  }
}

.player-stats {
  width: 100%;
}
