/* usersComponent's private CSS styles */
.users {
  padding: 0;
  margin: 0;
}

.users li {
  cursor: pointer;
  position: relative;
  background-color: #eee;
  list-style: none;
  display: flex;
  align-items: center;
  border-radius: 6px;
  overflow: hidden;
  margin: 0.5em 0;
}

.users li:hover {
  color: #607d8b;
  background-color: #ddd;
}

.users li.selected {
  background-color: #cfd8dc;
  color: white;
}
.users li.selected:hover {
  background-color: #bbd8dc;
  color: white;
}

.users .id {
  margin: 0 0.5em;
  width: 25px;
  text-align: center;
  font-size: 1.25em;
}
